<dialog id="share-dialog" closedby="any">
  <form class="dialog-form" method="dialog">
    <p class="main-font-style">Copied to clipboard !</p>
    <button id="confirmBtn" class="button">Close</button>
  </form>
</dialog>
