body {
  margin: unset;
  height: 100vh;
  background-color: pink;
}

.main-font-style {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

.button {
  font-size: 2em;
  background-color: white;
  padding: 1em;
  border: 2px solid pink;
  border-radius: .5em;
}

.button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.secondary {
  color: rgb(107, 71, 77);
  background-color: rgb(255, 221, 227);
}

#share-button {
  padding: 0.5em;
}

#share-button>img {
  width: 100%;
  max-width: 2em;
  height: auto;
  margin: auto;
}