#app-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  /* height calc 100vh minus padding top + bottom */
  height: calc(100vh - 4.5em);
  overflow: auto;
  align-items: center;
  padding: 1.5em 1.5em 3em;
  background: linear-gradient(180deg, rgb(255, 235, 235) 0%, rgba(255, 255, 255, 0) 25em);
  ;
}

.title {
  font-family: "Story Script", sans-serif;
  font-style: normal;
  font-size: 5em;
  text-align: center;
  margin: unset;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: white;
  border: 1px solid pink;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 2em;
  border-radius: 1em;
  max-width: 60em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

.media {
  border-radius: 1em;
}

.inputs {
  display: flex;
  gap: 2em;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .inputs {
    flex-direction: column;
  }
}

.cat-bg {
  background-image: url('/images/cat-bg.svg');
  background-repeat: repeat;
}

.dog-bg {
  background-image: url('/images/dog-bg.svg');
  background-repeat: repeat;
}